.meal {

  .recipeLink {
    background-color: teal;
  }
  .comments {
    border: solid;
  }
  .caption{
      border: steelblue;
      background-color: steelblue;
      padding: 10px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}
