
.container{


    margin-left: auto;
    margin-right: auto;
    height: 350px;
    



    .button {
      background-color: #f8f9fa;
      border: 1px solid #f8f9fa;
      border-radius: 4px;
      color: #3c4043;
      cursor: pointer;
      font-family: arial,sans-serif;
      font-size: 14px;
      height: 36px;
      line-height: 27px;
      min-width: 54px;
      padding: 0 16px;
      text-align: center;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: pre;
    }

    .button:hover {
      border-color: #dadce0;
      box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
      color: #202124;
    }

    .button:focus {
      border-color: #4285f4;
      outline: none;
    }  
    

    .login{

      

        .form{
          width: 15%;

          
      border: solid;
      
      
      input[type=text],input[type=password]{
        padding: 2%;
        justify-content: space-between;
      }


         
          }
          } 
          

      
}
        input, select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        


      .loginText{
          cursor: pointer;

      }



