
.registration{

  width: 25%;
  margin-left: auto;
  margin-right: auto;

        input, select,.password {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }
          
        div{
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
          }

        button{
            background-color: #f2f2f2;
            width: 100%;
            transition: 0.2s;
            font-size: 25px;
            color: black;
            cursor: pointer;
        }

        button:hover{
            background-color: #45a049;
            color: whitesmoke;
        }
        
        button:hover:after {
          content:"?";
        }
}